{% extends 'instructors/base.html' %}
{% load django_bootstrap5 %}
{% block maincontent %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">

        {% if "topicCreate" in request.path %}
        <h1 class="h3 mb-0 text-gray-800">Create Topic</h1>
        {% elif "topicUpdate" in request.path %}
        <h1 class="h3 mb-0 text-gray-800">Update Topic</h1>
        {% else %}
        <h1 class="h3 mb-0 text-gray-800">Delete Topic</h1>
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if "topicDelete" in request.path %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {% endif %}
        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
</div>
{% endblock maincontent %}